body{
    margin: auto;
    width: 1000px;
    font-family: sans-serif;
    background-color: lightgray;
}

h1{
    text-align: center;
    font-size: 36pt;
}

h2{
    text-transform: uppercase;
    font-weight: 800;
    color: darkred;
}

a{
    text-decoration: none;
}

li{
    line-height: 200%;
}

.code{
    font-family: 'Courier New', Courier, monospace;
    background-color: white;
    padding: 4px;
    border-radius: 8px;
}