@import "colors.css";
@import "variables.css";

*{
    margin: 0px;
    padding: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transition: all 250ms;
    user-select: none;
}

body{
    width: 50%;
    margin: auto;
    color: var(--foreground);
    background-color: var(--background);
    display: grid;
    grid-template-rows: auto auto 1fr auto;
    height: 100vh;
}

ul{
    list-style: none;
    margin: 8px 0px;
    border-radius: var(--default-radius);
    width: 100%;
}

li{
    width: 100%;
    display: flex;
    border-radius: var(--default-radius);
}

li:hover{
    background-color: var(--background-alt);
}

li *{
    padding: 8px;
    margin: 8px;
}

li label{
    flex: 1;
    font-size: x-large;
}

li input[type="submit"]{
    background-color: transparent;
    border: 0px;
}

li input[type="checkbox"]{
    display: none;
}

li input[type="submit"]{
    font-size: large;
    cursor: pointer;
    color: transparent;
}

.styledCheckbox{
    font-size: xx-large;
    font-weight: 900;
    color: transparent;
    margin: auto 8px;
    margin-right: 0px;
    padding-right: 0px;
}

li:hover .styledCheckbox{
    color: var(--icon-hover);
    display: initial;
}

li input[type="checkbox"]:active ~ .styledCheckbox{
    color: var(--icon-active);
    display: initial;
}

li input[type="checkbox"]:checked ~ .styledCheckbox{
    color: var(--icon-foreground);
    display: initial;
}

li:hover input[type="submit"]{
    color: var(--icon-hover);
}

li:hover input[type="submit"]:hover{
    color: var(--delete-hover);
}


li:hover input[type="submit"], li.completed input[type="submit"]{
    display: inherit;
}

li.completed label{
    text-decoration: line-through;
}

header h1{
    text-align: center;
}

footer section{
    text-align: center;
    margin: auto;
    display: flex;
}

.labelGroup{
    display: flex;
    background-color: var(--background-alt);
    border-radius: var(--default-radius);
    user-select: none;
    text-align: center;
    margin-bottom: 8px;
}

.labelGroup label{
    padding: 8px;
    border-radius: var(--default-radius);
    cursor: pointer;
    flex: 1;
    margin: 4px;
    color: var(--foreground);
    font-weight: 600;
}

.highlightLabel{
    background-color: var(--selected-background);
    box-shadow: 1px 1px 3px var(--drop-shadow-color);
}

.labelGroup input{
    display: none;
}

footer{
    margin: 8px 0px;
}

footer input[type="text"]{
    flex: 1;
    padding: 16px;
    margin-right: 8px;
    border: none;
    height: 100%;
    background-color: var(--background-alt);
    color: var(--foreground);
    border-radius: var(--default-radius);
}

footer button:hover{
    background-color: var(--selected-background);
}

footer button{
    background-color: var(--background-alt);
    font-size: var(--plus-size);
    border-radius: var(--default-radius);
    border: 0px;
    width: var(--submit-task-height);
    height: var(--submit-task-height);
    cursor: pointer;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    vertical-align: middle;
    justify-content: center;
}

header{
    padding: 16px;
}

#tasksLeft{
    margin: auto;
    padding: 16px;
}

button:hover .horizontal-plus, button:hover .vertical-plus{
    background-color: var(--plus-background-hover);
}

.horizontal-plus, .vertical-plus{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    margin: auto;
    background-color: var(--plus-background);
    border-radius: var(--default-radius);
}

.horizontal-plus{
    width: 50%;
    height: 10%;
}
    

.vertical-plus{
    height: 50%;
    width: 10%;
}